# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Assignment4-CWEB1111-1112.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Conno\RiderProjects\Assignment4-CWEB1111-1112\.idea\.idea.Assignment4-CWEB1111-1112\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
